MONGO_URL=mongodb+srv://coursell:coursell123@cluster0.0ajox62.mongodb.net/coursell?retryWrites=true&w=majority
JWT_SECRET=coursell-super-secret-jwt-key-2024
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
API_URL=http://localhost:3001
